<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        <% for(let i=0; i < dataTB.length; i++) { %>
            <tr>
                <td>
                    <%= dataTB[i].fullName %>
                </td>
                <td>
                    <%= dataTB[i].address %>
                </td>
                <td>
                    <%= dataTB[i].phoneNumber %>
                </td>
                <td><a href="editCRUD?id=<%= dataTB[i].id%>">Edit</a></td>
                <td><a href="deleteCRUD?id=<%= dataTB[i].id%>">Delete</a></td>
            </tr>
            <% } %>
    </table>
    <a href="createCRUD"><button type="button" class="btn btn-primary">Create new User</button></a>
</body>

</html>